body {
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
}

/*start form*/
.form {
    display: none;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.input {
    margin-bottom: 6px;
}

/*end form*/

/*start table*/
.table {
    border-spacing: 0;
}

.thead {
    text-transform: capitalize;
}

td,
.th-name,
.th-number,
.th-delete,
.th-update {
    padding: 5px 15px;
}

.th-name {
    background-color: lightblue;
}

.th-number {
    background-color: lightpink;
}

.th-delete,
.th-update {
    background-color: lightsalmon;
}

td {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
}
/*end table*/

/*helpers*/
.open {
    display: block;
}

/*start buttons*/
.btn {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 5px 10px;
    width: 60px;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.btn:focus {
    outline: 0;
}

.btn:before,
.btn:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.btn:active {
    transform: scale(0.9);
}

.btn-open {
    background-color: lightcoral;
    box-shadow: 0 2px 6px #834343;
}

.btn-open:active {
    background-color: #be6868;
}


.btn-delete {
    background-color: darkred;
    box-shadow: 0 2px 4px #4f0000;
}

.btn-delete:active {
    background-color: #720000;
}


.btn-update {
    background-color: darkslateblue;
    box-shadow: 0 2px 4px #332b67;
}

.btn-update:active {
    background-color: #3d3473;
}


.btn-form {
    margin: 0 auto;
    background-color: darkgreen;
    box-shadow: 0 2px 4px #004500;
}

.btn-form:active {
    background-color: #004f00;
}