body {
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

<<<<<<< HEAD
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
=======
.thead {
    text-transform: capitalize;
>>>>>>> 5278b78bcfbf848b1b436e4c7401b59174cc6cd7
}

/*start form*/
.form {
    display: none;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.btn-form {
    width: 60px;
    margin: 0 auto;
    background-color: darkcyan;
}

.input {
    margin-bottom: 6px;
}
/*end form*/

/*start table*/
.table {
    border-spacing: 0;
<<<<<<< HEAD
}

.thead {
    text-transform: capitalize;
=======
>>>>>>> 5278b78bcfbf848b1b436e4c7401b59174cc6cd7
}

td,
.th-name,
.th-number,
.th-delete,
.th-update {
    padding: 5px 15px;
}

.th-name {
    background-color: lightblue;
}

.th-number {
    background-color: lightpink;
}

.th-delete,
.th-update {
    background-color: lightsalmon;
}

td {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
<<<<<<< HEAD
=======
}

td {
    /*outline: 1px solid maroon;*/
}

.form {
    display: none;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.btn-form {
    width: 60px;
    margin: 0 auto;
    background-color: darkcyan;
}

input {
    margin-bottom: 6px;
>>>>>>> 5278b78bcfbf848b1b436e4c7401b59174cc6cd7
}
/*end table*/

/*start buttons*/
.btn {
    outline: none;
    margin: 2px;
    width: 60px;
    padding: 4px 8px;
}

.btn-remove {
    background-color: #f8d2c0;
}

.btn-update {
    background-color: #b4efb4;
}

.btn-open {
    background-color: darkmagenta;
}
<<<<<<< HEAD
/*end buttons*/

/*helpers*/
.open {
    display: block;
}
=======

/*helpers*/

.open {
    display: block;
}
>>>>>>> 5278b78bcfbf848b1b436e4c7401b59174cc6cd7
