body {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thead {
    /*text-transform: uppercase;*/
}

.table {
    /*outline: 2px dashed darkmagenta;*/
    padding: 20px;
}

td,
.th-name,
.th-number,
.th-options {
    padding: 5px 15px;
}

.th-name {
    background-color: lightblue;
}

.th-number {
    background-color: lightpink;
}

.th-options {
    background-color: lightsalmon;
}

td {
    /*outline: 1px solid maroon;*/
}

.form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.form-button {
    width: 60px;
    margin: 0 auto;
}

input {
    margin-bottom: 6px;
}

.btn {
    outline: none;
    margin: 2px;
}

.btn-remove {
    background-color: #f8d2c0;
}

.btn-update {
    background-color: #b4efb4;
}
